@model FinanceW.Models.CurrencyConvert

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CurrencyConvert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Multiple)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Multiple)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateValidFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateValidFrom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateValidTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateValidTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusCurrency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusCurrency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrencyFrom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrencyFrom.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrencyTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrencyTo.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CurrencyConvertId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
