@model FinanceW.Models.CashIncome

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CashIncome</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IncomeDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IncomeDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusIncome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusIncome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Alias)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CashIncomeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
