@model IEnumerable<FinanceW.Models.CashIncome>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IncomeDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StatusIncome)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Alias)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CashIncomeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CashIncomeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CashIncomeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
