@model FinanceW.Models.Expense

@{
    ViewData["Title"] = "Detalle de gasto";
}

<h2>Detalle de gasto</h2>

<div>
    @*<h4>Expense</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExpenseTypeId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpenseTypeId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CutDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CutDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayDayLimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayDayLimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusExpense)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusExpense)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.currency.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExpenseId">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
