@model FinanceW.Models.CashOutcome

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CashOutcome</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OutcomeDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OutcomeDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusOutcome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StatusOutcome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CashOutcomeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
