@model IEnumerable<FinanceW.Models.CashOutcome>
@{
    ViewData["Title"] = "Salida de Efectivo";
}
<h2>Salida de Efectivo</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutcomeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusOutcome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutcomeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusOutcome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Number)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CashOutcomeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CashOutcomeId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
